<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
    <div class="container">
    <div class="row">
      
    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="widget subscribe no-box">
    <h5 class="widget-title">Jain Dugar & Associates<span></span></h5>
    <h6>Head Office</h6>
<p>49-24-63,<br>
    Madhura Nagar,<br> 
    Visakhapatnam,<br>
    Andhra Pradesh<br>
    Email :jdassociates11@gmail.com <br>
</p><br>
    
    <h6>Branch Office</h6>
<p>House No. 233<br>
    Sector 7A,<br> 
    Faridabad,121006<br>
    Haryana <br>
    Email:pramodjain771975@gmail.com </p>     
</div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="widget no-box">
    <h5 class="widget-title">Quick Links<span></span></h5>
    <ul class="thumbnail-widget">
    <li>
    <div class="thumb-content"><a href="https://incometaxindia.gov.in/Pages/default.aspx.">Income Tax Dept. </a></div>	
    </li>
    <li>
    <div class="thumb-content"><a href="http://cbec.gov.in/">Central board of Excise and Custom</a></div>	
    </li>
    <li>
        <div class="thumb-content"><a href="https://www.tin-nsdl.com/">Tax Information Network</a></div>	
        </li>
        <li>
            <div class="thumb-content"><a href="http://mca.gov.in/">Ministry of Company Affairs</a></div>	
            </li>
            <li>
                <div class="thumb-content"><a href="http://epfindia.com/site_en/">Employees Provident Fund</a></div>	
                </li>
    </ul>
    </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="widget no-box">
    <h5 class="widget-title">Do you have any Query?<span></span></h5>
    <p>Get connected to us. We will help you....</p>
    <a class="btn" href="/#contact-us-form" target="_blank">Contact Us</a>
    </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
    
    <div class="widget no-box">
    <h5 class="widget-title">Contact Us<span></span></h5>
    
    <p><a href="mailto:jdassociates11@gmail.com" title="glorythemes">jdassociates11@gmail.com</a></p>
    </div>
    </div>
    
    </div>
    </div>
    </div>
      
    <div class="footer-copyright">
    <div class="container">
    <div class="row">
    <div class="col-md-12 text-center">
    <p>Copyright Jain Dugar & Associates © 2020. All rights reserved.</p>
    </div>
    </div>
    </div>
    </div>
    </footer>