<section id="Top">
    <div class="container">
       <div class="row">
         <div class="col-12">
           <div class="container">
             <div class="row">
               <div class="col-3 shrink">
                 <div class="logo-1">
                   <img src="images/logoca.png" alt="" class="logo-image-1">
                 </div>
               </div>
               <div class="col-9">
                 <h3 class="comp-name">
                   Jain & Dugar Associates
                 </h3>
                 <h5 style="padding-left:2.3rem;" class="comp-name comp-name-1">
                   Chartered Accountants
                 </h5>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>